[user]
	name = Matt Komorowski
	email = matt@mkomo.com

[color]
	ui = auto

[merge]
	tool = meld

[core]
	pager = less -FXRS -x4
	excludesfile = /home/mkomorowski/.git-always-ignore
[push]
	default = simple
